<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>

  

  <nav>
    {{#if user}}
    <a href="/play">Play</a>
    <a href="/map">Map</a>
    <a href="/profile">Profile</a>
    <a href="/leader-board">Leader Board</a>
    {{#if isAdmin}}
    <a href="/movie-creation">Movie Creation</a>
    <a href="/movies-list">Movies List</a>
    {{/if}}
    {{/if}}
    {{#unless user}}
    <a href="/auth/login">Login</a>
    <a href="/auth/signup">Signup</a>
    {{/unless}}
    {{#if user}}
    <a href="/auth/logout">Logout</a>
    {{/if}}


    {{#if user}}
    User: {{user.username}} | {{user.role}}
    {{/if}}
  </nav>


  

  {{{body}}}

  <script src="/javascripts/script.js"></script>
</body>
</html>