<form action="/movie-creation" method="POST" enctype="multipart/form-data" id="movie-creation">
  <input type="text" name="name" placeholder="name" value="test">
  <input type="text" name="year" placeholder="year" value="1999">
  <input type="text" name="linkIMDB" placeholder="linkIMDB" value="https://www.imdb.com/title/tt0091605/?ref_=fn_al_tt_2">
  <input type="file" name="photo">
  <input type="text" name="city" placeholder="city" value="new york">
  <input type="text" name="country" placeholder="country" value="US">

  <button id="save-movie">Save new movie</button>
</form>