<header>
  <h2>Profile of {{username}}</h2>
</header>

<form action="">
  <span>{{username}}</span>

  <input type="text" name="password-old" placeholder="old password">
  <input type="text" name="password-new" placeholder="new password">

  <span>Created at: {{created_at}}</span>
</form>