<header>
  <h2>Profile of {{username}}</h2>
</header>

<form action="/update-profile" method="POST">
  <span>{{username}}</span>

  <input type="password" name="password-old" placeholder="old password">
  <input type="password" name="password-new" placeholder="new password">
  <input type="password" name="password-repeat-new" placeholder="repeat new password">

  <span>Created at: {{created_at}}</span>

  {{#if errorMessage}}
    {{> error}}
  {{/if}}

  {{#if okMessage}}
  <span class="ok-message"><i class="fas fa-check-circle"></i> {{okMessage}}</span>
  {{/if}}

  <input type="submit" value="Update password">
</form>