{{#if message}}
<span class="error-message"><i class="fas fa-exclamation-triangle"></i> {{message}}</span>
{{/if}}

{{#if errorMessage}}
<span class="error-message"><i class="fas fa-exclamation-triangle"></i> {{errorMessage}}</span>
{{/if}}