* {
  box-sizing: border-box;
}

html {
  font: 10px "Lucida Grande", Helvetica, Arial, sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  padding: 20px;
}

a {
  color: #00B7FF;
  transition: all 0.5s;
}

a:hover {
  color: red;
}

h2 {
  font-size: 2.5rem;
  text-transform: capitalize;
}

input {
  padding: 1.2rem;
}

header {
  margin-bottom: 2rem;
}

form {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-right: 2rem;
  max-width: 50rem;
  width: 100%;

  input,
  span {
    margin-bottom: 2rem;
  }

  input:last-child {
    margin-bottom: 0;
  }
}

nav {
  &.top {
    font-size: 1.6rem;
    display: flex;
    justify-content: space-between;

    a::after {
      margin-left: 1rem;
      content: "|";
    }

    a:last-child::after {
      margin-left: 1rem;
      content: "";
    }

    .user-info {
      margin-right: 2rem;
    }

    i {
      margin-right: 1rem;
    }
  }
}

label {
  margin-bottom: 2rem;
}

button,
input[type=submit],
select,
option {
  padding: 1rem;
  background: none;
  border-radius: 0.5rem;
  font-weight: bold;
}

select {
  font-weight: normal;
}

.error-message {
  font-weight: bold;
  color: red;
}

.ok-message {
  font-weight: bold;
  color: green;
}

section.contents {
  font-size: 1.2rem;
  padding-top: 2rem;
}

.account-message {
  margin-top: 2rem;
}

.signup-form {
  select {
    margin: 0 0 2rem 0;
  }
}

#movie-creation {
  max-width: initial;

  .form-elements-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  .form-elements {
    min-width: 50rem;
    display: flex;
    flex-direction: column;
    margin-right: 2rem;
  }

  #save-movie {
    width: 20rem;
  }

  #search-box {
    width: 100%;
  }
}

#map {
  height: 50rem;
  width: 50rem;

}

#movies-list {
  max-width: 50vw;

  li {
    display: flex;
    justify-content: space-between;
    margin: 2rem 0;
  }
}