* {
  box-sizing: border-box;
}

html {
  font: 10px "Lucida Grande", Helvetica, Arial, sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  padding: 20px;
}

a {
  color: #00B7FF;
  transition: all 0.5s;
}

a:hover {
  color: red;
}

h2 {
  font-size: 2.5rem;
  text-transform: capitalize;
}

nav {
  font-size: 1.6rem;
}

nav a::after {
  margin-left: 1rem;
  content: "|";
}

input {
  padding: 1.2rem;
}

header {
  margin-bottom: 2rem;
}

section.contents {
  font-size: 1.2rem;
  padding-top: 2rem;
}

#movie-creation {
  display: flex;
  flex-direction: column;
}

#movie-creation .form-elements-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#movie-creation #save-movie {
  width: 20rem;
}

#movie-creation .form-elements {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-right: 2rem;
  max-width: 50rem;
}

#movie-creation #search-box {
  width: 100%;
}

#map {
  height: 50rem;
  width: 50rem;

}

// input {
//   border-radius: 2rem;
//   padding: 2rem;
// }

#movie-creation input {
  margin-bottom: 2rem;
}

#movies-list {
  max-width: 50vw;
}

#movies-list li {
  display: flex;
  justify-content: space-between;
  margin: 2rem 0;
}